<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string></string>
		<string>Delm-Medium.otf</string>
		<string>ThirstySoftRegular.otf</string>
	</array>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please provide access to your library so that you can create great photolayout with your own photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please provide access to your library so that you can create great photolayout with your own photos</string>
	<key>NSCameraUsageDescription</key>
	<string>Please provide access to your camera so that you can create great photolayout with your own photos</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Please provide access so that you can create great photolayout with your own photos</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
